
  
    <header class="producto-b-header">
      <div>
        <i class='bx bx-chevron-left left'></i>
        <img src="../assets/img/D.png" alt="d">
        <img src="../assets/img/O.png" alt="o">
        <img src="../assets/img/N.png" class="n" alt="n">
        <img src="../assets/img/R.png" alt="r">
        <img src="../assets/img/É.png" alt="e">
        <img src="../assets/img/M.png" alt="m">
        <img src="../assets/img/O.png" alt="o">
        <img src="../assets/img/L.png" alt="l">
        <img src="../assets/img/O.png" alt="o">
        <img src="../assets/img/Vector 15.png" alt="bogote" class="bigote">
  
      </div>
    </header>