<div class="MarginTopNav"></div>
<section>
    <div class="containerCardCategories">

      <div class="cardCategories">
        <a href="#">
          <div class="effectTranslateY">
            <div class="imgGrid">
              <img src="../assets/img/categoriaEmpanadas.png" alt="Imagen de Empanadas" class="imgCategories" />
            </div>
            <h2 class="titleCategories">Empanadas</h2>
          </div>
        </a>
      </div>

      <div class="cardCategories">
        <a [routerLink]= "['products']">
          <div class="effectTranslateY">
            <div class="imgGrid">
              <img src="../assets/img/categoriaPizzas.png" alt="Imagen de Empanadas" class="imgCategories" />
            </div>
            <h2 class="titleCategories">Pizzas</h2>
          </div>
        </a>
      </div>

      <div class="cardCategories">
        <a href="#">
          <div class="effectTranslateY">
            <div class="imgGrid">
              <img src="../assets/img/categoriaPostres.png" alt="Imagen de Empanadas" class="imgCategories" />
            </div>
            <h2 class="titleCategories">Postres</h2>
          </div>
        </a>
      </div>

      <div class="cardCategories">
        <a href="#">
          <div class="effectTranslateY">
            <div class="imgGrid">
              <img src="../assets/img/categoriaBebidas.png" alt="Imagen de Empanadas" class="imgCategories" />
            </div>
            <h2 class="titleCategories">Bebidas</h2>
          </div>
        </a>
      </div>

    </div>
  </section>


